:root {
  --primary_accent: #6405ff;
  --secondary_accent: #eb736c;
  --primary_gradient: linear-gradient(to right, #6405ff, #eb736c);
  --primary_text: #ffffff;
  --primary_color: #ffffff;
  --secondary_text: #b1b3be;
  --secondary_color: #b1b3be;
  --primary_background: #1a1d27;
  --secondary_background: #222633;
  --tertiary_background: #212939;
  --primary_border: #6405ff;
  --secondary_border: #54586c;
  --contrast_background: white;
  --contrast-text: #1a1d27;
  /* --PRIMARY_BACKGROUND: "#1a1d27";
  --SECONDARY_BACKGROUND: "#222633";
  --TERTIARY_BACKGROUND: "#212939";
  --PRIMARY_BORDER: "#6405ff";
  --SECONDARY_BORDER: "#54586c";
  --PRIMARY_COLOR: "#ffffff";
  --SECONDARY_COLOR: "#b1b3be";
  --TERTIARY_COLOR: "#54586c"; */
}